/*




*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './styles.css';
@import './modals.css';
@import './root.css';

/* ELEMENTOS */

.barra-azul {
    height: 63px;
    background: var(--color-azul-uno);
    border-radius: 50px 50px 0 0;
}

.barra-azul {
    height: 63px;
    background: #ffffff;
    border-radius: 50px 50px 0 0;
}

body {
    font-family: "Montserrat", serif;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background: var(--color-fondo-web);
    flex-direction: column;
}

.content {
    max-width: var(--ancho-web);
    width: 100%;
    /* Hace que el contenedor ocupe todo el espacio disponible hasta 1300px */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    margin-top: 100px;
    background: #fff;
}

/* MENU */

.navmenu {
    height: 130px;
    top: 0;
    border-radius: 65px 0 0 65px;
    right: 0;
    z-index: 10;
    background-color: var(--color-fondo-menu);
    width: 100%;
    max-width: calc(((100vw - var(--ancho-web)) / 2) + var(--ancho-web) - 80px);
    display: flex;
    position: fixed;
    align-items: center;
}

.navmenu .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--ancho-web);
    margin: 10px;
}

.navmenu .left {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Espacio entre los elementos del lado izquierdo */
}

.navmenu .right {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Empuja la sección derecha hacia la derecha */
    gap: 20px;
}

/* BOTONES */

.btn-standard {
    font-family: 'Montserrat';
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    background: var(--color-boton);
    color: var(--color-texto-boton);
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    border: 0;
    box-shadow: var(--color-sombra-boton);
    padding-left: 17px;
    padding-right: 17px;
}

.btn-standard p {
    margin: 0;
}

.btn-standard:hover {
    background: var(--color-sobre-boton) !important;
    color: var(--color-texto-sobre-boton) !important;
}


/* MENU LOGO */
.img-logo {
    position: relative;
    width: 300px;
}

.img-logo img {
    width: 100%;
}

.content.provider-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview-container {

    border-radius: 20px;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

#image-preview {

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.experience-image input[type="file"] {
    display: none;
}