/* MODALS */

@import './root.css';

/* Estilos del modal */
.modal {
    display: none;
    /* Oculto por defecto */

}

.modal.center {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 66%);
    /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Comienza completamente invisible */
    transition: opacity 0.5s ease;
    /* Transición para el fade-in */
    overflow: hidden;

}

.modal.show {
    display: flex !important;
    /* Mostrar el modal */
    opacity: 1;
    /* Visible completamente */
}

.menu-item:hover {
    background-color: blueviolet;
}

.modal-content {

    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* Bordes redondeados solo arriba */
    box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    max-height: 80vh;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* Ocultar el desplazamiento horizontal */

    animation: slideUp 0.5s ease-in-out;
}

.modal.hide .modal-content {
    animation: slideDown 0.5s ease-in-out forwards;
    /* Animación inversa */
}

.close {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close.button {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


/* LOGIN USER */
.modal.login {

    padding-top: 69px;
    height: 200px;
    top: 8px;
    right: -27px;
    position: absolute;
    animation: slideInFromRight 0.2s ease-out;
}

.login-content {
    padding: 10px;
    height: 240px;
    background: var(--color-fondo-modal);
    border-radius: 10px;
    border: solid 1px var(--color-azul-tres);
}

.modal-login-row {
    display: block !important;
    position: relative;
}

.modal-login-row:hover .modal.login {

    display: block !important;

}

.modal-login-row:focus-within .modal.login {

    display: block !important;
}

/* USER MENU */

.modal.user-menu {

    right: 5px;
    padding-top: 50px;
    height: 147px;
    top: 11px;
    position: absolute;
    animation: slideInFromRight 0.2s ease-out;
}

.user-menu-content {
    padding: 10px 20px;
    height: 132px;
    width: 150px;
    background: var(--color-fondo-modal);
    border-radius: 0 0 20px 20px;
}

.modal-user-menu {
    margin: 0 20px;
    display: block !important;
    position: relative;
    cursor: pointer;
}

.modal-user-menu:hover .modal.user-menu {

    display: block !important;

}

.modal-user-menu:focus-within .modal.user-menu {

    display: block !important;
}

.menu-user-item {
    display: block;
    color: var(--color-texto-oscuro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.menu-user-item p{
   margin: 0;
}

.menu-user-item:hover {
    background: var(--color-resaltado-menu);
    color: var(--color-texto-resaltado-menu);

}

/* COUNTRY SELECTION */

.modal-country-select {
    display: block !important;
    position: relative;
    cursor: pointer;
}

.modal-country-select p {
    text-align: center;
}

.modal-country-select p {
    font-weight: bold;
}

.modal.country-select {

    right: -15px;
    padding-top: 44px;
    height: auto;
    top: 17px;
    position: absolute;
    animation: slideInFromRight 0.2s ease-out;
}

.country-select-content {
    padding: 10px 20px;
    height: auto;
    width: 150px;
    background: var(--color-fondo-modal);
    border-radius: 0 0 20px 20px;
}

.modal-country-select:hover .modal.country-select {

    display: block !important;

}

.modal-country-select:focus-within .modal.country-select {

    display: block !important;
}

.country-select-item {
    display: block;
    color: var(--color-texto-oscuro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.country-select-item p{
   margin: 0;
}

.country-select-item:hover {
    background: var(--color-resaltado-menu);
    color: var(--color-texto-resaltado-menu);

}

/* MESSAGE */
#modal-message .modal-content {

    border-radius: 20px;
    background: var(--color-fondo-modal);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px;
}

.modal-content p{

    font-weight: bold;
}

#modal-message .modal-content img{
    width: 50px;
}



/* ------------ */

.error-message {
    color: rgb(199, 66, 66);
}


/* FORMS */
form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

/* Animación del modal entrando desde la derecha */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        /* Comienza fuera del área visible */
    }

    to {
        transform: translateX(0);
        /* Llega a su posición final */
    }
}
